<mat-toolbar color="primary">
    <span>Event Management</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/client/home">Home</a>
    <a mat-button routerLink="/client/events">Events</a> @if (isAuthenticated$ | async) {
    <a mat-button routerLink="/auth/profile">Profile</a> @if (isAdmin) {
    <a mat-button routerLink="/admin/dashboard">Admin Dashboard</a> }
    <button mat-button (click)="logout()">Logout</button> } @else {
    <a mat-button routerLink="/auth/login">Login</a>
    <a mat-button routerLink="/auth/register">Register</a> }
</mat-toolbar>